:root {
  --gray-color: #939393;
  --dark-gray: #4e4e4e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

.page {
  height: 100%;
  background-color: var(--gray-color);
}

.content {
  position: relative;
  z-index: 1;
  height: 170%;
  background-color: #fff;
  transform-origin: top left;
  transition: all .7s cubic-bezier(.98,.02,.03,1.03);
}

.content-inner {
  height: 50%;
  padding: 50px 20%;
}

.content p {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.menu-toggle {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 80px;
  background-color: rgb(0, 255, 247);
  border-bottom-right-radius: 100%;
}

i {
  color: #fff;
}

.menu-open, .menu-close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -12px;
  transition: all 0.3s cubic-bezier(.98,.02,.03,1.03);

}

.menu-open {
  transform-origin: -100px -100px;
}

.menu-close {
  transform-origin: -100px -100px;
  transform: rotate(30deg);
}

.menu-items {
  position: fixed;
  bottom: 0px;
  left: 50px;
  margin: 0;
  padding: 0;
}

.menu-items li {
  list-style: none;
  height: 60px;
  margin-bottom: 50px;
  transform: translateX(-400px);
  transition: all 0.3s 0.45s cubic-bezier(.98,.02,.03,1.03);
}

.menu-items li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.menu-items li a .icon {
  display: inline-block;
  margin-right: 15px;
}

.menu-items li:nth-child(2) {
  margin-left: 40px;
}

.menu-items li:nth-child(3) {
  margin-left: 80px;
}


/* ハンバーガーメニューをクリックした時 */
.rotate .content {
  transform: rotate(-40deg);
}

.rotate .menu-open {
  transform: rotate(-40deg);
}

.rotate .menu-close {
  transform: rotate(0deg);
}

.rotate .menu-items li {
  transform: translateX(0);
  transition: all .7s 0.45s cubic-bezier(.98,.02,.03,1.03);
}
